<!-- <app-button></app-button>
<app-button></app-button>
<app-button [backgroundColor1]="'green'"></app-button> -->

<!-- <app-button 
  *ngFor="let maVarButtonConf of buttons"
  [backgroundColor]="maVarButtonConf.backgroundColor"
  [color]="maVarButtonConf.color"
  [borderColor]="maVarButtonConf.borderColor"
></app-button> -->

<!-- <app-button 
*ngFor="let maNouvVariable of buttons"
[backgroundColor]="maNouvVariable.backgroundColor"
[color]="maNouvVariable.color"
[borderColor]="maNouvVariable.borderColor"
></app-button> -->

<!-- <app-button [backgroundColor]="'yellow'"></app-button>
<app-button backgroundColor="blue"></app-button>
<app-button [backgroundColor]="'green'"></app-button>
<app-button [backgroundColor]="toto"></app-button>
<app-button [backgroundColor]="'#CBC'"></app-button> -->

<app-button
  *ngFor="let buttonConf of buttons"
  [buttonConfiguration]="buttonConf"
></app-button>
